body {
  text-align: center;
  background-color: #82beff;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: pink;
}

.green {
  background-color: rgb(180, 119, 180);
}

.blue {
  background-color: rgb(132, 132, 207);
}

.yellow {
  background-color: rgb(253, 253, 117);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
